@model KOI_XS.DAL.Entities.Koi

@{
    ViewData["Title"] = "Xóa cá Koi";
}

<h1 class="text-center my-4 text-danger">@ViewData["Title"]</h1>

<div class="container">
    <div class="alert alert-danger" role="alert">
        Bạn có chắc chắn muốn xóa cá Koi này không?
    </div>
    <dl class="row">
        <dt class="col-sm-2">Tên</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="KoiId" />
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash"></i> Xóa
            </button>
            <a href="@Url.Action("Index", "Koi")" class="btn btn-secondary">
                <i class="fas fa-times"></i> Hủy
            </a>
        </div>
    </form>
</div>
